.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.chu_h{
    display: flex;
    margin-right: 20px;
} 
.a{
    width: 60px;
    height: 60px;
    background-color: rgb(191, 39, 155);
    border: 2px solid white;
}
.cot1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.cot2{
    display: flex;
    align-items: center;
}
.chu_t{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}
.dong1{
    display: flex;
}
.dong2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dong{
    display: flex;
    justify-content: end;
}
.so_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
